@import 'custom';
@import 'fonts';
@import 'fluid-type';
@import '~bootstrap/scss/bootstrap';
//@import './../../fonts/font-awesome/css/all.min.css';

@import '~swiper/swiper-bundle.css';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lora', serif;
  color: $dark-blue;
}

h1 {
  @include fluid-type(24px, 54px);
}
h2 {
  @include fluid-type(22px, 38px);
  padding: 60px 0 30px;
}

body {
  font-family: 'Roboto', sans-serif;
}

.btn {
  user-select: none;
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: 900;
  @include fluid-type(12px, 14px);
  line-height: 150%;
  letter-spacing: 0.235em;
  text-transform: uppercase;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 40px;

  .btn-white {
    background: #fff;
    //    color: $dark-blue;
  }
}

header {
  position: fixed;
  width: 100%;
  // background: #fff;
  z-index: 3000;

  #top-menu {
    color: #fff;
    background: $blue;
    height: 100%;
    display: flex;
    align-items: center;
    @include fluid-type(10px, 14px);
    padding-left: 30px;
    padding-right: 30px;
  }

  nav.navbar {
    align-items: stretch;
    padding: 0;

    .navbar-brand {
      padding: 16px 0;
    }

    .navbar-collapse {
      justify-content: flex-end;
    }
  }
}

main {
  padding: 84px 0 0 0;
}

body.home {
  section {
    &.presentation {
      h1 {
        margin: 80px 0 15px;
        font-weight: bold;

        & + p {
          margin: 15px 0 30px;
          @include fluid-type(14px, 18px);
        }
      }

      .back {
        background: url('./../../img/back.png') no-repeat top left / cover;
        display: block;
        width: 100%;
        height: 100%;
        position: relative;

        &:before {
          content: '';
          display: block;
          width: 100%;
          background: $blue;
          top: -100px;
          left: 0;
          height: 100px;
          position: absolute;
          z-index: 1000;
        }

        .clock__wrapper {
          & > img {
            float: right;
            padding-top: 50px;
            padding-bottom: 80px;
          }
        }
      }
    }
  }
}

// Timeline

/*
section.words-slider {
  background: $blue;

  .timeline {
    width: 100%;
    background-color: #fff;
    position: relative;
    // box-shadow: 0 5px 25px 5px rgba($black, 0.2);

    h3,
    h4 {
      color: #fff;
    }

    h3 {
      @include fluid-type(24px, 46px);
      font-weight: bold;
    }

    h4 {
      @include fluid-type(18px, 24px);
      margin-top: 20px;
      margin-bottom: 10px;
    }

    .description {
      p {
        @include fluid-type(14px, 18px);
        font-weight: 300;
      }
    }

    .words-list-wrapper:before {
      content: '';
      background: $blue;
      position: absolute;
      top: -100vh;
      width: 100%;
      height: 200vh;
      z-index: -1;
      margin-left: -30px;
    }

    .words-list {
      li {
        @include fluid-type(14px, 18px);
        font-weight: 300;
        font-size: 14px;
        line-height: 2em;
        list-style-type: none;
        cursor: pointer;

        &:before {
          content: '—';
          margin-right: 10px;
        }
      }
    }

    &:before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      width: 100vw;
      height: 100%;
      background: linear-gradient(116.57deg, #0f4c81 4.61%, #357ec3 105.19%), #0f4c81;
    }

    .swiper-container {
      height: 600px;
      width: 100%;
      position: relative;

      &.swiper-container-vertical > .swiper-pagination-bullets {
        right: unset;
      }
    }

    .swiper-wrapper {
      transition: 0.3s cubic-bezier(0.68, -0.4, 0.27, 1.34) 0.2s;
      z-index: 0;
    }

    .swiper-slide {
      position: relative;
      color: $white;
      overflow: hidden;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;

      &-content {
        position: absolute;
        text-align: center;
        width: 80%;
        max-width: 310px;
        right: 50%;
        top: 13%;
        transform: translate(50%, 0);
        font-size: 12px;
        z-index: 2;
      }

      .timeline-year {
        display: block;
        font-style: italic;
        font-size: 42px;
        margin-bottom: 50px;
        transform: translate3d(20px, 0, 0);
        color: $primary;
        font-weight: 300;
        opacity: 0;
        transition: 0.2s ease 0.4s;
      }

      .timeline-title {
        font-weight: 800;
        font-size: 34px;
        margin: 0 0 30px;
        opacity: 0;
        transform: translate3d(20px, 0, 0);
        transition: 0.2s ease 0.5s;
      }

      .timeline-text {
        line-height: 1.5;
        opacity: 0;
        transform: translate3d(20px, 0, 0);
        transition: 0.2s ease 0.6s;
      }

      &-active {
        .timeline-year {
          opacity: 1;
          transform: translate3d(0, 0, 0);
          transition: 0.4s ease 1.6s;
        }

        .timeline-title {
          opacity: 1;
          transform: translate3d(0, 0, 0);
          transition: 0.4s ease 1.7s;
        }

        .timeline-text {
          opacity: 1;
          transform: translate3d(0, 0, 0);
          transition: 0.4s ease 1.8s;
        }
      }
    }

    .swiper-pagination {
      left: calc(15% - 30px) !important;
      height: 100%;
      display: none;
      flex-direction: column;
      justify-content: center;
      font-style: italic;
      font-weight: 300;
      font-size: 18px;
      z-index: 1;

      &::before {
        content: '';
        position: absolute;
        left: -30px;
        top: 0;
        height: 100%;
        width: 1px;
        background-color: rgba($white, 0.2);
      }

      &-bullet {
        width: auto;
        height: auto;
        text-align: center;
        opacity: 1;
        background: transparent;
        color: $primary;
        margin: 15px 0 !important;
        position: relative;
        color: #fff;
        outline: none;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: 16px;
          left: -32.5px;
          width: 6px;
          height: 6px;
          border-radius: 100%;
          background-color: #fff;
          transform: scale(0);
          transition: 0.2s;
        }

        &-active {
          color: #007fc7;
          color: #fff;
          font-size: 1.5em;
          font-weight: bold;

          &::before {
            transform: scale(1);
          }

          &:after {
            background: #0f0;
            content: '';
            position: absolute;
            left: -10%;
            top: -18px;
            width: 120%;
            padding-top: 120%;
            z-index: -1;
            border-radius: 50%;
          }
        }
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      background-size: 20px 20px;
      top: 15%;
      width: 20px;
      height: 20px;
      margin-top: 0;
      z-index: 2;
      transition: 0.2s;

      &:after {
        color: #fff;
      }
    }

    .swiper-button-prev {
      right: 8%;
      &:hover {
        transform: translateX(-3px);
      }
    }

    .swiper-button-next {
      left: 8%;
      &:hover {
        transform: translateX(3px);
      }
    }

    @media screen and (min-width: 768px) {
      .swiper-slide {
        &-content {
          top: 50%;
          transform: translateY(-50%);
          font-size: 11px;
          right: unset;
          top: 50%;
          width: 100%;
          display: block;
          text-align: left;
          max-width: unset;
        }

        .timeline-year {
          margin-bottom: 0;
          font-size: 32px;
        }

        .timeline-title {
          font-size: 46px;
          margin: 0;
        }
      }

      .swiper-pagination {
        display: flex;
      }

      .swiper-button-prev {
        top: 15%;
        left: auto;
        left: 15%;
        transform: rotate(90deg) translate(0, 10px);

        &:hover {
          transform: rotate(90deg) translate(-3px, 10px);
        }
      }

      .swiper-button-next {
        top: auto;
        bottom: 15%;
        left: 15%;
        transform: rotate(90deg) translate(0, 10px);

        &:hover {
          transform: rotate(90deg) translate(3px, 10px);
        }
      }
    }

    @media screen and (min-width: 1024px) {
      .swiper-slide {
        &-content {
          left: 25%;
        }
      }
    }
  }
}

*/

// Timeline

section.words-slider {
  background: $blue;
  overflow: hidden;

  h3,
  h4,
  p,
  li {
    color: #fff;
  }

  h3 {
    @include fluid-type(24px, 46px);
    font-weight: bold;
  }

  h4 {
    @include fluid-type(18px, 24px);
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .description {
    margin-top: 178px;
    position: relative;
    padding: 0 15px;

    p {
      @include fluid-type(14px, 18px);
      font-weight: 300;
    }
  }

  .circle-container {
    width: 550px;
    height: 550px;
    border-radius: 50%;
    transition: 0.2s all linear;
    margin-left: -330px;
    padding-left: 0;
    z-index: 1;
    position: relative;

    li {
      width: 90px;
      height: 90px;
      background: $green;
      position: absolute;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      margin-left: -45px;
      margin-top: -45px;
      display: flex;
      list-style-type: none;
      justify-content: center;
      align-items: center;
      transition: 0.2s all linear;

      span {
        position: relative;
        display: flex;
        color: #fff;
        width: 90px;
        height: 90px;
        justify-content: center;
        align-items: center;
        user-select: none;
        cursor: pointer;
      }
    }
  }

  .words-container {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      width: 100vw;
      height: 100%;
      background: linear-gradient(116.57deg, #0f4c81 4.61%, #357ec3 105.19%), #0f4c81;
      z-index: 0;
    }
  }

  .words-list-wrapper:before {
    content: '';
    background: $blue;
    position: absolute;
    top: -100vh;
    width: 100%;
    height: 200vh;
    z-index: -1;
    margin-left: -30px;
  }

  .words-list {
    margin-top: 200px;
    margin-left: 50px;

    li {
      @include fluid-type(14px, 18px);
      font-weight: 300;
      font-size: 14px;
      line-height: 2em;
      list-style-type: none;
      cursor: pointer;

      &:before {
        content: '—';
        margin-right: 10px;
      }
    }
  }
}

section.conception {
  margin-top: 20px;
  margin-bottom: 20px;

  .container {
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to bottom, #fff, $dark-blue) 1 100%;
  }

  .level {
    margin-bottom: 50px;

    &.level-2 {
      ul {
        margin-top: -1.5em;
      }
    }

    &.level-3 {
      ul {
        margin-top: -3em;
      }
    }

    &.level-4 {
      ul {
        margin-top: -4.5em;
      }
    }

    img {
      margin-top: 20px;
      margin-left: -15px;
    }

    ul {
      @include fluid-type(14px, 18px);
      font-family: Lora;
      font-weight: bold;

      li {
        color: #33333350;
        list-style-type: none;
        b {
          color: $dark-blue;
        }
      }
    }

    .description {
      position: relative;

      &:before {
        position: absolute;
        content: '';
        width: calc(100% + 100px);
        height: 2px;
        display: block;
        background: $dark-blue;
        right: -40px;
        top: 0.5em;
      }

      p {
        background: #fff;
        position: relative;
        padding-left: 15px;
        padding-right: 10px;
      }
    }
  }
}
