@import 'custom';
@import 'fonts';
@import 'fluid-type';
@import '~bootstrap/scss/bootstrap';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lora', serif;
  color: $dark-blue;
}

h1 {
  @include fluid-type(24px, 54px);
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  position: fixed;
  width: 100%;
  // background: #fff;
  z-index: 3000;

  #top-menu {
    color: #fff;
    background: $blue;
    height: 100%;
    display: flex;
    align-items: center;
    @include fluid-type(10px, 14px);
    padding-left: 30px;
    padding-right: 30px;
  }

  nav.navbar {
    align-items: stretch;
    padding: 0;

    .navbar-brand {
      padding: 16px 0;
    }

    .navbar-collapse {
      justify-content: flex-end;
    }
  }
}

main {
  padding: 84px 0 0 0;
}

body.home {
  section {
    &.presentation {
      h1 {
        margin: 80px 0 15px;
        font-weight: bold;

        & + p {
          margin: 15px 0 30px;
          @include fluid-type(14px, 18px);
        }
      }

      .back {
        background: url('./../../img/back.png') no-repeat top left / cover;
        display: block;
        width: 100%;
        height: 100%;
        position: relative;

        &:before {
          content: '';
          display: block;
          width: 100%;
          background: $blue;
          top: -100px;
          left: 0;
          height: 100px;
          position: absolute;
          z-index: 1000;
        }

        .clock__wrapper {
          & > img {
            float: right;
            padding-top: 50px;
            padding-bottom: 80px;
          }
        }
      }
    }
  }
}

section.words-slider {
  .slideshow {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    height: 100vh;
    margin: 0 auto;
    visibility: hidden;
    overflow: hidden;

    ul.navigation {
      position: absolute;
      display: block;
      width: 640px;
      height: 640px;
      padding: 0;
      margin: 0;
      left: -230px;
      top: 50%;
      margin-top: -320px;
      z-index: 10;

      li.navigation-item {
        position: absolute;
        display: inline-block;
        overflow: hidden;
        width: 120px;
        height: 120px;
        padding: 10px;
        text-align: center;
        cursor: pointer;
        border-radius: 50%;
        transition: border 0.6s ease-in-out;

        .rotate-holder {
          position: fixed;
          display: block;
          width: 0;
          height: 0;
          left: -9999px;
          top: -9999px;
        }
        .background-holder {
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border-radius: 50%;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          opacity: 1;
          visibility: visible;
          transition: opacity 0.6s ease-in-out, visibility 0.6s ease-in-out;
        }
      }

      li.navigation-item:hover .background-holder {
        opacity: 0.75;
      }
      li.navigation-item.active .background-holder {
        opacity: 0;
        visibility: hidden;
      }
    }

    .detail {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 8;

      .detail-item {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

        .headline {
          position: absolute;
          display: block;
          width: 100%;
          max-width: calc(100% - 480px);
          height: 126px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          overflow: visible;
          white-space: nowrap;
          box-sizing: border-box;
          z-index: 2;
        }

        .headline .letter {
          font-family: 'Oswald', sans-serif;
          position: relative;
          display: inline-block;
          opacity: 0;
          visibility: hidden;
          color: #ffffff;
          font-size: 132px;
          line-height: 110px;
          font-weight: 900;
          font-kerning: none;
          white-space: nowrap;
          box-sizing: border-box;
          text-transform: uppercase;
        }

        .background {
          position: absolute;
          display: block;
          width: 100%;
          width: calc(100% + 100px);
          height: 100%;
          height: calc(100% + 100px);
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          overflow: visible;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          z-index: 1;
        }
        .background::before {
          content: '';
          background: linear-gradient(to right, black 0%, rgba(0, 0, 0, 0) 90%);
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 2;
        }
        &.active {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}
